@import '../../../collors.scss';

.card {
    border: none;
    width: 300px;
    height: 500px;
    margin: 0 10px;

    .image {
        height: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .image img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    .content {
        border: 1px solid grey;
        .autor {
            font-size: smaller;
            color: grey;
            padding-top: 3px;
            text-indent: 5%;
        }

        .post {
            padding: 5px;
            cursor: pointer;

            .title {
                text-align: justify;
                text-indent: 5%;
            }

            .abstract {
                text-align: justify;
                text-indent: 1rem;
                max-width: 280px;
            }

            .separator {
                border: 0;
                border-width: 0 0 10px;
                margin: 0;
            }

            .status {
                display: flex;
                flex-direction: row;
                color: grey;

                .like {
                    width: 15px;
                    height: 15px;
                    padding: 1px;
                }
            }
        }
    }
}