<div class="card">
    <div class="image">
        <img src="{{ cover}}" alt="">
    </div>
    <div class="content">
        <div class="autor">
            <span>{{authorPost}}</span>
        </div>
        <div class="post">
            <h2 class="title">{{ titlePost }}</h2>
            <p class="abstract">{{ textPost }}</p>
        </div>
        <hr class="separator">
        <div class="status">
            <!-- <div>
                Comentários
            </div>             -->
            <div class="like">
                <img src="../../../assets/images/heart_empty.png" alt="curtido">
            </div>
        </div>
    </div>
</div>
