<div class="card">
    <div class="image">
        <img src="../../../assets/images/writing.webp" alt="">
    </div>
    <div class="content">
        <div class="autor">
            <span>Autor</span>
        </div>
        <div class="post">
            <h2 class="title">Title</h2>
            <p class="abstract">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam eligendi ad veritatis facilis et. Eligendi tenetur officiis velit ad, similique ipsam architecto minus eum fugit nesciunt ex eius! In?</p>
        </div>
        <hr class="separator">
        <div class="status">
            <div>
                Comentários
            </div>            
            <div class="like">
                <img src="../../../assets/images/heart_empty.png" alt="curtido">
            </div>
        </div>
    </div>
</div>
