<div class="container footer">
    <div class="container footer_subscribe">
        <p>Inscreva-se para não perder novos posts</p>
        <div class="div_input">
            <input 
                type="email" 
                name="subscribe"
                placeholder="Digite seu melhor e-mail" 
                id="subscribe" class="input-subcribe">
            <button type="submit" class="btn">Inscrever</button>
        </div>
    </div>
    <div class="container footer_rights">
        <p>Estante de Casa - 2023 Todos os direitos reservados</p>
    </div>
</div>
