<app-main-menu></app-main-menu>
<app-main-banner></app-main-banner>
<div class="containe">
    <div class="post_title">
        <h1>TITULO ARTIGO</h1>
    </div>
    <div class="post_text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, id? Ipsum aperiam rem voluptas libero, cum suscipit quaerat iste porro, id hic veniam molestiae delectus quod sapiente modi sint officiis.</p>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde, nemo est voluptates aperiam accusamus quasi error atque qui cumque magnam a rerum recusandae. Accusamus quisquam pariatur rem amet nobis?</P>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos totam fugiat dolor repudiandae suscipit veritatis rerum vitae laboriosam. Odio tenetur saepe veritatis excepturi aspernatur quis vel est nesciunt, nostrum cum.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam repellat commodi ratione saepe nostrum explicabo laborum placeat deleniti molestias, architecto ullam magni velit quam? Earum, qui. Officia vitae nihil ipsum.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa nulla repellendus rerum aliquid enim dignissimos sapiente debitis quaerat quidem quod consectetur, temporibus neque. Fuga ducimus natus nesciunt nihil, officia quod?
        </p>
    </div>
    <div class="post_author">
        Autor
    </div>
</div>
<app-footer></app-footer>
