<app-main-menu id="principal"></app-main-menu>
<app-main-banner></app-main-banner>
<div class="main" id="articles">
    <app-card
        cover="../../../assets/images/writing.webp"
        authorPost="Nome Autor"
        textPost="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet repellat laudantium aliquid expedita. Mollitia dicta tempora, inventore cumque asperiores provident in, accusamus ipsa architecto dolorum quo nemo praesentium impedit?"
        titlePost="Posts"
    >

    </app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>   
<app-footer id="footer"></app-footer>
